.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
}
.gallery img{
    max-width: 80%;
    height: auto;
}
